
<h1>These are all your tasks:</h1>

<div>
  <% @tasks.each do |task| %>
    <div>
      <input type="checkbox" name="<% task.title %>" <%= "checked" if task.completed %> />
      <label for="<% task.title %>"><%= link_to task.title, task_path(task) %></label>
      <%= link_to "Delete Task", delete_task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>

  <%= link_to "Create new task", tasks_new_path %>
</div>
